.hidden,
.hidden > div,
.hidden > div > div {
    display: none;
}

body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}



/* HEADER STYLING */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header > .header-title {
    margin-left: 20px;
}

header h1 {
    font-size: 28px;
    font-weight: 500;
}

header h2 {
    line-height: 26px;
}

header > nav {
    font-size: 20px;
    width: 550px;
    display: flex;
    justify-content: space-between;
}

header > nav > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > nav > div:hover {
    cursor: pointer;
}

/* .header-nav > button {
    text-decoration: none;
    border: none;
} */

.header-nav > div > i {
    font-size: 24px;
}

.header-nav > div > p {
    margin-top: 4px;
    /* line-height: 34px; */
}

header > .link-icons {
    margin-right: 20px;
}

header > a {
    text-decoration: none;
}

header i {
    color: black;
    font-size: 25px;
    margin-left: 8px;
    margin-right: 8px;
}


/* MAIN SECTION STYLING */

.main-content {
    position: absolute;
    top: 80px;
    bottom: 80px;
    left: 0;
    right: 0;
    /* display: flex; */
    /* justify-content: center; */
}

#explore-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #slider-container {
} */

#map-scatter-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.states {
    stroke: white;
    fill: none;
}

#scatter-plot-container {
    margin-right: 30px;
}




/* FOOTER STYLING */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border-top: lightgray; */
}

.google-ref {
    display: flex;
    align-items: center;
}

.google-ref > p {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #58585a;
    font-size: 24px;
    margin-left: 20px;
}

.google-ref > img {
    height: 50px;
    margin-left: 10px;
}