/* .hidden,
.hidden > div,
.hidden > div > div {
    display: none;
    width: 0;
    height: 0;
} */

/* Move the above styling to the bottom of this file for precedence */



body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}



/* HEADER STYLING */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 10;
}

header > .header-title {
    margin-left: 20px;
}

header h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
}

/* header h2 {
    line-height: 26px;
} */

header > nav {
    font-size: 20px;
    width: 550px;
    display: flex;
    justify-content: space-between;
}

header > nav > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > nav > div:hover {
    cursor: pointer;
}

/* .header-nav > button {
    text-decoration: none;
    border: none;
} */

.header-nav > div > i {
    font-size: 24px;
}

.header-nav > div > p {
    margin-top: 4px;
    /* line-height: 34px; */
}

header > .link-icons {
    margin-right: 20px;
}

header > a {
    text-decoration: none;
}

header i {
    color: black;
    font-size: 25px;
    margin-left: 8px;
    margin-right: 8px;
}




/* MAIN SECTION STYLING */

.main-content {
    position: absolute;
    top: 80px;
    bottom: 80px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}


/* NOTE: adding display flex breaks the toggle page functionality... 
...The content persists even when I try to display a different "page"...
...Workarounds: 1) Need to select every child element in the hidden container...
...and make it display: none. 2) Style with CSS class selector instead of id-selector?...
...don't get rid of id-selector b/c it's needed for event listeners. */

.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 540px;
}

/* not sure this is doing anything... */
.hidden > h1,
.hidden > h2,
.hidden > div,
.hidden > div > p,
.hidden > div > p > a {
    display: none;
    width: 0;
    height: 0;
}

.welcome-page > h1 {
    /* margin-top: 60px; */
    font-size: 40px;
    font-weight: 1400;
}

.welcome-page > h2 {
    font-size: 26px;
    font-weight: 600;
    width: 600px;
    text-align: center;
}

.welcome-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    font-size: 26px;
}

.welcome-choice > p:first-of-type,
.welcome-choice > p:last-of-type {
    width: 360px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.welcome-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    /* margin-bottom: 60px; */
}

/* .welcome-note > p > a {
    font-style: normal;
} */

/* #explore-page { */
.explore-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    /* height: 700px; */
    height: 600px;
}

/* #explore-title { */
.explore-title {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 1000;
}

.explore-labels {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* di */
}

.color-scale-labels {
    width: 435px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;

    margin-top: 20px;
    /* margin-right: 430px; */
}

.fa-caret-down {
    font-size: 24px;
}

.color-scale-labels > div {
    width: 100px;
}

.slider-note {
    width: 435px;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}


/* #explore-top { */
.explore-top {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

/* .hidden > #explore-top {
    display: none;
    width: 0;
} */

#geo-color-scale {
    display: block;
    width: 300px;
    height: 20px;
    background: linear-gradient(to right, #009392, #39B185, #9CCB86, #E9E29C, #EEB479, #E88471, #CF597E);
    border-radius: 10px;
    margin-left: 120px;
}

#range {
    margin-right: 160px;
    font-size: 28px;
    font-weight: 600;
}

#slider-container > input {
    width: 280px;
    margin-right: 150px;
    /* margin-left: 100px; */
}

#map-scatter-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

.states {
    stroke: white;
    fill: none;
}

#scatter-plot-container {
    margin-left: 50px;
}

/* #guess-page { */
.guess-page {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.guess-page-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-chart-header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 420px;
    vertical-align: text-bottom;
    line-height: 30px;
}

.fa-play-circle {
    font-size: 28px;
    color: #277c8e;
}

.fa-play-circle:hover {
    cursor: pointer;
}

#bar-chart-year {
    font-size: 24px;
    font-weight: 800;
    color: #277c8e;
}

.bar-chart-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.guess-page-right {
    width: 750px;
    /* height: 620px; */
    height: 600px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
}

.drop-elements {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.drag-elements {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.drop-boxes {
    border: 2px dashed gray;
    border-radius: 10px;
    /* width: 60px; */
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 28px;
    font-weight: 800px;
    box-sizing: border-box;
    padding-top: 8px;
}

.drag-boxes {
    border: 2px solid black;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 28px;
    font-weight: 800px;
    box-sizing: border-box;
    padding-top: 8px;
}




/* FOOTER STYLING */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #58585a;
    font-size: 16px;
}

footer > div {
    margin: 0 20px;
}

.google-ref {
    display: flex;
    align-items: center;
}

.google-ref > p {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #58585a;
    font-size: 18px;
    margin-left: 20px;
}

.google-ref > img {
    height: 40px;
    margin-left: 10px;
}





/* STYLING FOR HIDDEN ELEMENTS
    NEEDS TO BE LAST SO IT OVERRIDES OTHER DISPLAY STYLES
    (LIKE DISPLAY: FLEX)
    NOTE: Other styles should be applied on class selectors,
    NOT ID selectors (otherwise those styles will override this one)
 */
.hidden,
.hidden > div,
.hidden > div > div {
    display: none;
    width: 0;
    height: 0;
}